/* Write your CSS here */
.cowinDashboardContainer {
  display: flex;
  flex-direction: column;
  padding: 0px;
  background-color: #1c1c2b;
  padding-left: 40px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #161625;
  padding-left: 40px;
}
.website-logo {
  height: 50px;
  width: 50x;
}
.website-heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #cbd5e1;
  font-weight: bold;
}

.loader-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view {
  height: 300px;
  width: 250px;
}

.failure-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
}
